<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TEST Bitbucket</title>
    <link rel="stylesheet" href="../css/style.css">

    <script defer src="../js/my.js"></script>

</head>

<body>
    <header>
        <h1>Gitを学ぼう！</h1>
        <p>
            ついに我が社にもGitを導入を検討することになりました。導入するにあたり、まずは誰かが使えるようになる必要があります。まずは実際に試してみましょうということで模索しながら学んでいきます。
        </p>
    </header>
    <section>
        <h2>
            Gitをわかりやすくしよう！
        </h2>
        <p>
            本来Gitはターミナルやコマンドプロンプトを使って、コマンドを叩いて動作させるものです。慣れればなんてことはないのですが、やはりGUIがあってわかりやすいほうがいい。ということで今回は練習として以下を使用します。
        </p>
        <ul>
            <li>
                Gitクライアント：「Source Tree」
            </li>
            <li>
                Git用サーバー：「Bitbucket」
            </li>
            <li>
                Git管理の手法：「Git Flow」
            </li>
        </ul>

        <p>
            この3点を使用します。
        </p>
    </section>

    <section>
        <h2>練習用セクション</h2>
        <div id="box_practice">
            リポジトリ復活しました！！<br>
            新メンバー追加します！！<br>
            誰もやってくれない。<br>
            壽﨑が参加しました。<br>
            <span class="test_text">全然すすみませんね。そんな感じならCSSとか触っちゃいますよ！</span>
            森山です。<br>
            ソースツリー使うの諦めました。無理やりコミットしてやります。出来てるか分かりませんが。<br>
            あーあ。全然だめ。私全然ダメ。<br>
            すいません！！ご迷惑おかけしてすいません！！
            ありがとうございます！！SSHもう一度みてみます…
            私だけブラウザから無理やりコミットしてます。
            コミットできただけでも嬉しいです。<br>
            分かりやすい動画説明ありがとうございました！！
            以下言い訳になりますが…
            家のsourcetreeが古いタイプで、山内さんが送ってくれた動画にある
            SSHのクリップボードコピーボタンが出てきませんでした…
            ので、最新sourcetreeに変えようと試みてます。
            が、PCのOSが10.11.6で最新ソースツリーが開けませんでした…
            なので、只今OS X 10.13にアップデート中です。
            あと１時間かかると表示されてるので、待ちきれず寝てしまうかもしれません。
            せっかく丁寧な動画いただいたのに、申し訳ありません。
            明日までに必ず設定します！会社のPCは最新なので、朝挑戦してみます！
            ご丁寧な対応、ありがとうございました！！<br>
            山内さん！！！
            届いてますでしょうか？今回こそはソースツリーからのコミットです。
            届きますように。<br>
            あとでまたやります。！<br>
        </div>

        <h2>練習用セクション2</h2>
        <div id="box_practice">
            Gitの理解が深まったら色々と幅が広がります。まずはある程度使えるようになってもらって、次はあれとあれとあれとあれとあれをごにょごにょしていきます！！<br>
            かしこまりました！よく分からないまま、いろんなボタン押しまくってるので、
            皆さんに被害が及んでたら申し訳ありません。<br>
            <br>
            <p class="txt_red">イデヨエラー。</p><br>
            山内さん。
            私だけがエラーですか？笑
            プルは無事できました。
            コミットはいまからです！<br>
            エラー封印。
        </div>
        <div id="box_practice">
            master
            リリース可能な状態だけを管理する
            特定のブランチからマージすることによってしか更新されない
            直接コミットしてはならないという制約をもつ
            バージョンごとのtagはここから生まれる

            develop/[バージョン番号など]
            先のリリースに向けた普段の開発で使用する
            後述のfeatureやreleaseブランチはここから派生

            feature/[派生元バージョン番号など]/[機能名など]
            機能追加・改修などを行う作業ブランチ
            developブランチから、featureブランチを切る
            完了後はdevelopブランチにマージされて、featureブランチは削除される
        </div>




    </section>


</body>

</html>