<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TEST Bitbucket</title>
    <link rel="stylesheet" href="../css/style.css">

    <script defer src="../js/my.js"></script>

</head>

<body>
    <header>
        <h1>Gitを学ぼう！</h1>
        <p
            ついに我が社にもGitを導入を検討することになりました。導入するにあたり、まずは誰かが使えるようになる必要があります。まずは実際に試してみましょうということで模索しながら学んでいきます。
        </p>
    </header>
    <section>
        <h2>
            Gitをわかりやすくしよう！
        </h2>
        <p>
            本来Gitはターミナルやコマンドプロンプトを使って、コマンドを叩いて動作させるものです。慣れればなんてことはないのですが、やはりGUIがあってわかりやすいほうがいい。ということで今回は練習として以下を使用します。
        </p>
        <ul>
            <li>
                Gitクライアント：「Source Tree」
            </li>
            <li>
                Git用サーバー：「Bitbucket」
            </li>
            <li>
                Git管理の手法：「Git Flow」
            </li>
        </ul>

        <p>
            この3点を使用します。
        </p>
    </section>

    <section>
        <h2>練習用セクション</h2>
        <div id="box_practice">
            リポジトリ復活しました！！<br>
            新メンバー追加します！！<br>
            誰もやってくれない。<br>
            壽﨑が参加しました。<br>
            <span class="test_text">全然すすみませんね。そんな感じならCSSとか触っちゃいますよ！</span>
             森山です。<br>
             ソースツリー使うの諦めました。無理やりコミットしてやります。出来てるか分かりませんが。<br>
             あーあ。全然だめ。私全然ダメ。<br>
             SSHの設定がおかしいんじゃないかなーと思うのですがどうでしょうね。<br>
             明日動画とっておくりますね。<br>
            動画撮影なう！！
            すいません！！ご迷惑おかけしてすいません！！
            ありがとうございます！！SSHもう一度みてみます…
            私だけブラウザから無理やりコミットしてます。
            コミットできただけでも嬉しいです。笑
        </div>
    </section>


</body>

</html>