<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TEST Bitbucket</title>
    <link rel="stylesheet" href="../css/style.css">

    <script defer src="../js/my.js"></script>

</head>

<body>
    <section>
        <h2>コンフリクト</h2>
        <div id="box_practice">
            コンフリクトについては<br>
            <a href="https://tonari-it.com/git-sourcetree-conflict/">https://tonari-it.com/git-sourcetree-conflict/</a><br>
            <br>
            P4Merge - 色々とMergeToolがあるみたいですが、とりあえず僕はこいつを使ってます。<br>
            <a href="https://blog.maromaro.co.jp/archives/5615">https://blog.maromaro.co.jp/archives/5615</a><br>
            <a href="https://blog.stedplay.com/how-to-use-sourcetree-with-p4merge">https://blog.stedplay.com/how-to-use-sourcetree-with-p4merge/</a><br>
            <br>
            自分でコンフリクトを起こす場合は、ローカルのFeatureでファイルを編集しコミット。<br>
            Featureは残したまま、Developにチェックアウトし同じファイルを編集。<br>
            その後、Fertureを終了すると、競合が発生します。
        </div>
    </section>

    <section>
        <h2>コンフリクト練習</h2>
        <div id="box_practice">
            一文-dev
        </div>
    </section>

</body>

</html>